@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');    
:root {
    --color-one: #8261EE;
    --color-two: #FF589E;
    --color-text: #777;
    --font: "DM Sans", sans-serif;
}
body{
    color : var(--color-text);
    font-family: var(--font);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}